@using ReMoBi_DCSN.Models
@using PagedList.Mvc
@model PagedList.PagedList<ReMoBi_DCSN.Models.KhachHang>

@{
    ViewBag.Title = "TheCustomer";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}


<style>
    /* Style cho đường kẻ đổ bóng */
    table {
        width: 1000px; /* Đặt chiều rộng của bảng */
        margin: 0 auto; /* Canh giữa bảng */
        border-collapse: collapse;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Đổ bóng */
    }

    table, th, td {
        border: 1px solid #ddd; /* Đường kẻ đen nhạt */
    }

    th, td {
        padding: 8px;
        text-align: left;
    }

    /* Style cho nút chức năng */
    .action-button {
        padding: 5px 10px;
        margin-right: 5px;
        border: none;
        border-radius: 5px; /* Bo góc tròn nhẹ */
        display: inline-block; /* Display buttons in a line */
        cursor: pointer;
        width: 70px;
        padding: 5px;
    }

    .edit-button {
        background-color: #00B8A9; /* Màu vàng cho Edit */
        color: white; /* Màu chữ trắng */
    }

    .details-button {
        background-color: #71C9CE; /* Màu xanh lá cho Details */
        color: white; /* Màu chữ trắng */
    }

    .delete-button {
        background-color: #FF2E63; /* Màu đỏ cho Delete */
        color: white; /* Màu chữ trắng */
    }

    /* Style cho dấu "|" ngăn cách nút chức năng */
    .separator {
        color: #333; /* Màu đen nhạt */
        font-weight: bold;
        margin: 0 5px;
    }
</style>
<h2 style="padding-top: 50px">Danh sách Khách hàng</h2>
<br />
<hr />


<div class="search-form row">
    <div class="col-md-6">
        <p>
            @Html.ActionLink("Create new User", "AddnewCus", null, new { @class = "btn btn-outline-secondary m-1" })
        </p>
    </div>

    <div class="col-md-6">
        <form method="get" action="@Url.Action("TheCustomer")">
            <div class="form-group">
                <div class="input-group">
                    <input type="text" class="form-control" name="Name" placeholder="Search by Name" style="background-color: #EEEEEE" />
                    
                    <div class="input-group-append" style="padding-left: 5px">
                        <button type="submit" class="btn btn-primary" style="background-color: #00ADB5">Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<hr />
<br />
<table class="table">
    <tr style="background-color: #27374D; color: #DDE6ED ">
        <th>
            Tên đăng nhập
        </th>
        <th>
            Mật Khẩu
        </th>
        <th>
            Ho và tên
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style="color: #1E212D ">
                @Html.DisplayFor(modelItem => item.username)
            </td>
            <td style="color: #1E212D ">
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td style="color: #1E212D ">
                @Html.DisplayFor(modelItem => item.hovaten)
            </td>
            <td style="text-align: center">
                <button class="action-button edit-button" onclick="location.href='@Url.Action("EditCustomer", new { id = item.KhID })'">Show</button>
                <br />
                
                <button class="action-button delete-button" onclick="location.href='@Url.Action("DeleteCustomer", new { id = item.KhID })'">Delete</button>
            </td>
        </tr>
    }

</table>
<br />
<div class="MenuPage">
    @Html.PagedListPager(Model, Page => Page == Model.PageNumber ? Url.Action("TheUser", new { Page = Page }) : Url.Action("TheUser", new { Page }))
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
</div>






<style>
    .MenuPage {
        text-align: center;
        margin-top: 20px;
        text-decoration: none; /* Loại bỏ gạch chân (đối với ActionLink) */
    }

        .MenuPage ul {
            list-style-type: none;
            padding: 0;
            display: inline-flex;
            justify-content: center;
        }

        .MenuPage li {
            text-decoration: none; /* Loại bỏ gạch chân (đối với ActionLink) */
            width: 30%;
            display: inline-block;
            margin-right: 5px;
            border-radius: 50%;
            background-color: #ddd;
            width: 50px;
            height: 50px;
            text-align: center;
            line-height: 50px;
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

            .MenuPage li:hover {
                background-color: #007BFF;
                color: white;
            }
</style>

<script>
    // JavaScript to handle click events on pagination buttons
    document.addEventListener('DOMContentLoaded', function () {
        var paginationmodels = document.querySelectorAll('.MenuPage li');

        paginationmodels.forEach(function (model) {
            model.addEventListener('click', function () {
                var link = this.querySelector('a');
                if (link) {
                    window.location.href = link.getAttribute('href');
                }
            });
        });
    });
</script>