@{
    if (Session["Admin"] == null)
    {
        Response.Redirect("~/Admin/Login");
    }
}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ReMoBi - DKD</title>
    <link rel="shortcut icon" type="image/png" href="~/images/apple-touch-icon.png" />
    <link rel="stylesheet" href="~/assets/css/styles.min.css" />
</head>

<body>
    <!--  Body Wrapper -->
    <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed">
        <!-- Sidebar Start -->
        <aside class="left-sidebar" style="background-color: #222831; color: white;">
            <!-- Sidebar scroll-->
            <div>
                <div class="brand-logo d-flex align-items-center justify-content-between">
                    <a href="./index.html" class="text-nowrap logo-img">
                        <img src="~/images/market-logo1.png" width="180" alt="" />
                    </a>
                    <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                        <i class="ti ti-x fs-8"></i>
                    </div>
                </div>
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style=" color: white;">Home</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Index","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-layout-dashboard"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">Dashboard</span>
                            </a>

                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style=" color: white;">POST</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Post","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-article"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">Show</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("AddnewPost","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-alert-circle"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">Create</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item">
                            <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-cards"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">more...</span>
                            </a>
                        </li>*@
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style=" color: white;">IMAGES</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("Picture","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-login"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">Show</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("PostImages","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">Advantaged Show</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("AddnewPostImages","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-user-plus"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">more...</span>
                            </a>
                        </li>
                        <li class="nav-small-cap">
                            <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
                            <span class="hide-menu" style=" color: white;">USER</span>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("TheUser","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-mood-happy"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">For System</span>
                            </a>
                        </li>
                        <li class="sidebar-item">
                            <a class="sidebar-link" href="@Url.Action("TheCustomer","Admin")" aria-expanded="false">
                                <span>
                                    <i class="ti ti-brand-youtube"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">For Customer</span>
                            </a>
                        </li>
                        @*<li class="sidebar-item">
                            <a class="sidebar-link" href="./icon-tabler.html" aria-expanded="false">
                                <span>
                                    <i class="ti ti-3d-cube-sphere"></i>
                                </span>
                                <span class="hide-menu" style=" color: white;">more..</span>
                            </a>
                        </li>*@
                    </ul>

                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!--  Sidebar End -->
        <!--  Main wrapper -->
        
        <div class="body-wrapper">

            @Html.Partial("Admin_Partial")
            @*@Html.Partial("Loading_page")*@
            <div id="loader" class="center-side">@Html.Partial("Loading_page")</div>
            <div style="padding : 30px;">
                @RenderBody()
            </div>
        </div>
    </div>
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="~/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/js/sidebarmenu.js"></script>
    <script src="~/assets/js/app.min.js"></script>
    <script src="~/assets/libs/apexcharts/dist/apexcharts.min.js"></script>
    <script src="~/assets/libs/simplebar/dist/simplebar.js"></script>
    <script src="~/assets/js/dashboard.js"></script>
</body>

</html>

<script>
    document.onreadystatechange = function () {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector("#loader").style.visibility = "visible";
        } else {
            // Introduce a 2-second delay before hiding the loader
            setTimeout(function () {
                document.querySelector("#loader").style.display = "none";
                document.querySelector("body").style.visibility = "visible";
            }, 1000); // Adjust the delay time in milliseconds (2 seconds in this case)
        }
    };
</script>

