


<div class="widget">
    <h2 class="widget-title">Bài viết gần đây</h2>
    <div class="blog-list-widget">
        <div class="list-group">
            <a href="@Url.Action("New2","RemoBi")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="~/images/News1/news1-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Không có chuyện bộ khung iPhone 15 Pro "mạ titan"</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New13","SlugPhone")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="~/images/News13/news13-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Huawei Mate60 Pro: Màn hình 3 "nốt ruồi", hỗ trợ 5G</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New5","ReMoBi")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 justify-content-between">
                    <img src="~/images/News4/news4-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Điểm nhấn giá trị vượt bậc của Galaxy Z Series</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New7","ReMoBi")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                    <img src="~/images/News6/news6-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Nokia tung mẫu điện thoại cực khủng!</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New9","ReMoBi")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                    <img src="~/images/News8/news8-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Xiaomi ra mắt máy tính bảng 11 inch, pin 8000mAh</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New10","ReMoBi")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                    <img src="~/images/News9/news9-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Smartphone Xiaomi có RAM 24GB, sạc 120W</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>

            <a href="@Url.Action("New14","SlugPhone")" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="w-100 last-item justify-content-between">
                    <img src="~/images/News14/news14-small-90x90.png" alt="" class="img-fluid float-left">
                    <h5 class="mb-1">Samsung ra mắt điện thoại pin 6000mAh, màn hình 120Hz</h5>
                    <small>Vài ngày trước</small>
                </div>
            </a>
        </div>
    </div><!-- end blog-list -->
</div><!-- end widget -->
