@using ReMoBi_DCSN.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Post>

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_LayoutPageIndex.cshtml";
}


@section Neartest_Post_Partial
{
    @Html.Partial("Neartest_Post_Partial", Model.ToList())
}
<h2>Some thing </h2>
<main>
    <div class="container pt-5">
        <div class="container">
            <div class="row">
                <h2>Result for: @ViewBag.Search - @ViewBag.Kq items</h2>
                @Html.Action("MostLike", "ReMoBi")
                @foreach (var item in Model)
                {
                    <a href="@Url.Action("Details_Post","ReMoBi", new {id = item.PostID})" class="news-item">
                        <br>
                        <div>
                            <img src="images/@item.AnhBia" alt="" class="img-fluid float-left">
                            <h4>@item.Post_Title</h4>
                            <p>@item.Teaser_Post</p>
                        </div>
                    </a>
                }

              


                <div class="MenuPage">
                    @*@Html.PagedListPager(Model, Page => Page == Model.PageNumber ? Url.Action("Book", new { Page = Page }) : Url.Action("Book", new { Page }))*@
                    @Html.PagedListPager(Model, Page => Url.Action("Search", new { Page = Page }))
                    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                </div>

            </div>
        </div>
    </div>
</main>
<script>
    // JavaScript to handle click events on pagination buttons
    document.addEventListener('DOMContentLoaded', function () {
        var paginationItems = document.querySelectorAll('.MenuPage li');

        paginationItems.forEach(function (item) {
            item.addEventListener('click', function () {
                var link = this.querySelector('a');
                if (link) {
                    window.location.href = link.getAttribute('href');
                }
            });
        });
    });
</script>
<style>
    .MenuPage {
        text-align: center;
        margin-top: 20px;
    }

        .MenuPage ul {
            list-style-type: none;
            padding: 0;
            display: inline-flex;
            justify-content: center;
            text-decoration: none; /* Loại bỏ gạch chân (đối với ActionLink) */
        }

        .MenuPage li {
            display: inline-block;
            margin-right: 5px;
            border-radius: 50%;
            background-color: #ddd;
            width: 50px; /* Kích thước lớn hơn khoảng 50px */
            height: 50px; /* Kích thước lớn hơn khoảng 50px */
            text-align: center;
            line-height: 50px; /* Kích thước lớn hơn khoảng 50px */
            cursor: pointer;
            transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
        }

            .MenuPage li:hover {
                background-color: #8B4513; /* Màu nâu */
                color: #F5F5DC; /* Màu beige */
            }
</style>


